:root {
  min-height: 100vh;
    --COLOR-1-BLUE: rgba(20,37,57,1);
    --COLOR-1-WHITE: rgba(249,249,249,1);
    --COLOR-2-BLUE: rgba(25,47,79,1);
    --COLOR-2-WHITE: rgba(237,237,237,1);
    --COLOR-LINKEDIN: rgba(0,119,181,1);
    --LOGO-W: 218px; 
    --LOGO-H: 1122px;
    --SCALE: 0.1;
    font-family: Helvetica, Arial, sans-serif;
}

::--webkit-scrollbar {
  width: 0px;
}

body {
    color: var(--COLOR-1-BLUE);
    background-color: var(--COLOR-1-WHITE);
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contcont {
  min-height: 100vh;
  position: relative;
  display: flex;
  top:0px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.contcont {
  min-height: 100vh;
  position: relative;
  display: flex;
  top:0px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
    min-width: 370px;
    min-height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
  }
  .a {
    height: 200px;
    width: 200px;
    background-color: var(--COLOR-1-BLUE);
    clip-path: polygon(0% 100%, 22% 100%, 50% 22%, 78% 100%, 100% 100%, 60% 0%, 40% 0%);
  
  }
  .i {
    height: 200px;
    width: 40px;
    background-color: var(--COLOR-1-BLUE);
  }
  
  .dot {
    height: 40px;
    width: 40px;
    background-color: var(--COLOR-1-BLUE);
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4vh;
    gap: calc(340px/6);
    max-width: 340px;
  }
  a {
    text-decoration: none;
  }
  .link {
    align-items: center;
    font-weight: bold;
    color: lightgray;
    width: 30px;
    height: 20px;
    overflow: visible;
    flex: 1;
    border: lightgray 0px solid;
    text-align: center;
    vertical-align: middle;
}
.email {
  font-size: 1.2em;
}
.email:hover {
  color: var(--COLOR-1-BLUE);
}

.linkedin{
  font-family: Helvetica, Arial, sans-serif;
}
.linkedin:hover{
  color: var(--COLOR-LINKEDIN);
}

.dev {
  font-weight: normal;
  word-spacing: 0.05em;
}
.dev:hover {
  color: var(--COLOR-1-BLUE);
}
.down-arrow {
  width: 5vh;
  height: 5vh;
  border-right: 5px var(--COLOR-2-WHITE) solid;
  border-bottom: 5px var(--COLOR-2-WHITE) solid;
  transform: rotate(45deg);
  position: absolute;
  bottom: 5vh;
  
}
.down-arrow:hover {
  border-color: var(--COLOR-1-BLUE);
}

.featured {
  width: 100%;
  min-height: 33vh;
  position: relative;
  background-color: lightgray;
  padding-bottom: 5vw;
  margin-top: 3vh;
}
.featureTitle{
  text-align: center;
  font-variant: small-caps;
  color: var(--COLOR-1-WHITE);
  padding: 1em;

}
.f-cont {
  width:90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  margin: auto 5vw ;
}
.feature-card{
  flex: 1;
  height: 20vh;
  min-width: 100px;
  background-color: grey;
  vertical-align: middle;
}







footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 20vh;
  background-color: pink;
}

.featured {
  width: 100%;
  min-height: 33vh;
  position: relative;
  background-color: lightgray;
  padding-bottom: 5vw;
  margin-top: 3vh;
}
.featureTitle{
  text-align: center;
  font-variant: small-caps;
  color: var(--COLOR-1-WHITE);
  padding: 1em;

}
.f-cont {
  width:90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vw;
  margin: auto 5vw ;
}
.feature-card{
  flex: 1;
  height: 20vh;
  min-width: 100px;
  background-color: grey;
  vertical-align: middle;
}







footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: 20vh;
  background-color: pink;
}