:root {
    --COLOR-1-BLUE: rgba(20,37,57,1);
    --COLOR-1-WHITE: rgba(249,249,249,1);
    --COLOR-2-BLUE: rgba(25,47,79,1);
    --COLOR-2-WHITE: rgba(237,237,237,1);
    --LOGO-W: 218px; 
    --LOGO-H: 1122px;
    --SCALE: 0.1;
}

body {
    color: var(--COLOR-1-BLUE);
    background-color: var(--COLOR-1-WHITE);
    width: 100vw;
    height: 100vh;
}
.container {
    min-width: 370px;
    min-height: 200px;
    width: 100%;
    transform: translate(0,33vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .a {
    height: 200px;
    width: 200px;
    background-color: var(--COLOR-1-BLUE);
    clip-path: polygon(0% 100%, 22% 100%, 50% 22%, 78% 100%, 100% 100%, 60% 0%, 40% 0%);
  
  }
  .i {
    height: 200px;
    width: 40px;
    background-color: var(--COLOR-1-BLUE);
  }
  
  .dot {
    height: 40px;
    width: 40px;
    transform: translate(0,160px);
    background-color: var(--COLOR-1-BLUE);
  }