:root {
    --COLOR-1-BLUE: rgba(20,37,57,0.5);
    --COLOR-1-WHITE: rgba(249,249,249,1);
    --COLOR-2-BLUE: rgba(25,47,79,1);
    --COLOR-2-WHITE: rgba(237,237,237,1);
    --LOGO-W: 218px; 
    --LOGO-H: 1122px;
    --SCALE: 0.1;
}

body {
    color: var(--COLOR-1-BLUE);
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}
.logobg {
    margin: auto;
    z-index: 1;
    width: 400px;
    height: 300px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.logocontainer {
    z-index: 2;
    margin: auto;
    display: flex;
    vertical-align: middle;

}

.frontslash {
    flex:1;
    width: calc(var(--LOGO-W)*var(--SCALE));
    height: calc(var(--LOGO-H)*var(--SCALE));
    background-color: var(--COLOR-1-BLUE);
    position: relative;
    transform: translate(calc(-1 * (var(--LOGO-W)*var(--SCALE)))) skew(-21deg);
}
.backslash {
    flex:1;
    transform: translate(calc(var(--LOGO-W)*var(--SCALE)),calc(-1 *var(--LOGO-H)*var(--SCALE))) skew(21deg);
    width: calc(var(--LOGO-W)*var(--SCALE));
    height: calc(var(--LOGO-H)*var(--SCALE));
    background-color: var(--COLOR-1-BLUE);
}
.straight {
    flex:1;
    width: calc(var(--LOGO-W)*var(--SCALE));
    height: calc(var(--LOGO-H)*var(--SCALE));
    background-color: var(--COLOR-1-BLUE);
    transform: translate(calc(var(--LOGO-W)*var(--SCALE)*3.5),calc(-2 *var(--LOGO-H)*var(--SCALE)))
}
.dot {
    flex:1;
    width: calc(var(--LOGO-W)*var(--SCALE));
    height: calc(var(--LOGO-W)*var(--SCALE));
    background-color: var(--COLOR-1-BLUE);
    margin: calc(var(--LOGO-W)*var(--SCALE));
    transform: translate(calc(var(--LOGO-W)*var(--SCALE)*4.2),calc(-2.38 *var(--LOGO-H)*var(--SCALE)))
}